<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>金腾统一权限管理</title>
        <meta name="keywords" />
        <meta name="description" />
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
        <link
            rel="shortcut icon"
            href="//jtcospublic.ciccten.com/config-server/1613703982174397515/jtlogo.png"
            type="image/x-icon"
        />
        <!-- 如果有需要预先加载的js逻辑, 可添加到这里 -->
        <script>
            window.__INITIAL_STATE__ = {{ data | dump | safe }};
        </script>
    <script defer src="http://127.0.0.1:10000/public/js/element-ui.js"></script><script defer src="http://127.0.0.1:10000/public/js/chunk-libs.js"></script><script defer src="http://127.0.0.1:10000/public/js/web_src_adapter_ajax_ts-web_src_store_index_ts-web_asset_icons_font_iconfont_ts.js"></script><script defer src="http://127.0.0.1:10000/public/js/pc.js"></script></head>
    <body>
        <noscript>
            <strong
                >We're sorry but 金腾统一权限管理 doesn't work properly without JavaScript
                enabled. Please enable it to continue.</strong
            >
        </noscript>
        <div id="app"></div>
    </body>
</html>
