<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>金腾统一权限管理</title>
        <meta name="keywords" />
        <meta name="description" />
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
        <link
            rel="shortcut icon"
            href="//jtcospublic.ciccten.com/config-server/1613703982174397515/jtlogo.png"
            type="image/x-icon"
        />
        <!-- 如果有需要预先加载的js逻辑, 可添加到这里 -->
        <script>
            window.__INITIAL_STATE__ = {{ data | dump | safe }};
        </script>
    <script defer type="module" src="/permission/public/js/vant-ui.189a1504.js"></script><script defer type="module" src="/permission/public/js/chunk-libs.b05c6ef7.js"></script><script defer type="module" src="/permission/public/js/mobile.169edd7d.js"></script><link href="/permission/public/css/vant-ui.5ae9030b.css" rel="stylesheet"><script defer src="/permission/public/js/vant-ui-legacy.189a1504.js" nomodule></script><script defer src="/permission/public/js/chunk-libs-legacy.1f403d58.js" nomodule></script><script defer src="/permission/public/js/mobile-legacy.f2075d59.js" nomodule></script></head>
    <body>
        <noscript>
            <strong
                >We're sorry but 金腾统一权限管理 doesn't work properly without JavaScript
                enabled. Please enable it to continue.</strong
            >
        </noscript>
        <div id="app"></div>
    </body>
</html>
