<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>金腾统一权限管理</title>
        <meta name="keywords" />
        <meta name="description" />
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
        <link
            rel="shortcut icon"
            href="//jtcospublic.ciccten.com/config-server/1613703982174397515/jtlogo.png"
            type="image/x-icon"
        />
        <!-- 如果有需要预先加载的js逻辑, 可添加到这里 -->
        <script>
            window.__INITIAL_STATE__ = {{ data | dump | safe }};
        </script>
        <link href="http://127.0.0.1:10002/public/js/chunk-libs.js" rel="preload" as="script" />
        <link href="http://127.0.0.1:10002/public/js/elementui.js" rel="preload" as="script" />
        <link href="http://127.0.0.1:10002/public/js/mobile~pc.js" rel="preload" as="script" />
        <link href="http://127.0.0.1:10002/public/js/pc.js" rel="preload" as="script" />
    </head>
    <body>
        <noscript>
            <strong
                >We're sorry but 金腾统一权限管理 doesn't work properly without JavaScript enabled. Please enable it to
                continue.</strong
            >
        </noscript>
        <div id="app"></div>
        <script type="text/javascript" src="http://127.0.0.1:10002/public/js/pc.js"></script>
    </body>
</html>
