@import 'sprite.scss';

[class^='jt-icon-'],
[class*=' jt-icon-'] {
    display: inline-block;
    // transform: scale(0.5);
    zoom: 0.5;

    &.scale {
        zoom: 1;
    }
}
.jt-icon-logo {
    @include sprite($logo);
}
.jt-icon-logout {
    @include sprite($logout);
}
.jt-icon-logo-text {
    @include sprite($logo-text);
}
.jt-icon-common {
    @include sprite($common);
}
.jt-icon-develop-conf {
    @include sprite($develop-conf);
}
.jt-icon-fold {
    @include sprite($fold);
}
.jt-icon-unfold {
    @include sprite($unfold);
}
.jt-icon-mine {
    @include sprite($mine);
}
.jt-icon-person {
    @include sprite($person);
    margin-right: 10px;
}
.jt-icon-pm-operate {
    @include sprite($pm-operate);
}
.jt-icon-product-manager {
    @include sprite($product-manager);
}
.jt-icon-search {
    @include sprite($search);
}
.jt-icon-test-flag {
    @include sprite($test-flag);
}
.jt-icon-info {
    @include sprite($info);
}

.jt-icon-info {
    @include sprite($info);
}

.jt-icon-warning {
    @include sprite($warning);
}

.jt-icon-pdf {
    @include sprite($pdf);
}

.jt-icon-config-program {
    @include sprite($config-program);
}

.jt-icon-edit {
    @include sprite($edit);
}

.jt-icon-delete {
    @include sprite($delete);
}

.jt-icon-document {
    @include sprite($document);
}

.jt-icon-switch {
    @include sprite($switch);
}

.jt-icon-view {
    @include sprite($view);
}

.jt-icon-history {
    @include sprite($history);
}

.jt-icon-manual {
    @include sprite($manual);
}
