// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$common-name: 'common';
$common-x: 104px;
$common-y: 108px;
$common-offset-x: -104px;
$common-offset-y: -108px;
$common-width: 56px;
$common-height: 56px;
$common-total-width: 384px;
$common-total-height: 282px;
$common-image: '../images/sprite.png';
$common: (104px, 108px, -104px, -108px, 56px, 56px, 384px, 282px, '../images/sprite.png', 'common', );
$config-program-name: 'config-program';
$config-program-x: 208px;
$config-program-y: 60px;
$config-program-offset-x: -208px;
$config-program-offset-y: -60px;
$config-program-width: 48px;
$config-program-height: 48px;
$config-program-total-width: 384px;
$config-program-total-height: 282px;
$config-program-image: '../images/sprite.png';
$config-program: (208px, 60px, -208px, -60px, 48px, 48px, 384px, 282px, '../images/sprite.png', 'config-program', );
$delete-name: 'delete';
$delete-x: 334px;
$delete-y: 60px;
$delete-offset-x: -334px;
$delete-offset-y: -60px;
$delete-width: 36px;
$delete-height: 36px;
$delete-total-width: 384px;
$delete-total-height: 282px;
$delete-image: '../images/sprite.png';
$delete: (334px, 60px, -334px, -60px, 36px, 36px, 384px, 282px, '../images/sprite.png', 'delete', );
$develop-conf-name: 'develop-conf';
$develop-conf-x: 160px;
$develop-conf-y: 108px;
$develop-conf-offset-x: -160px;
$develop-conf-offset-y: -108px;
$develop-conf-width: 56px;
$develop-conf-height: 56px;
$develop-conf-total-width: 384px;
$develop-conf-total-height: 282px;
$develop-conf-image: '../images/sprite.png';
$develop-conf: (160px, 108px, -160px, -108px, 56px, 56px, 384px, 282px, '../images/sprite.png', 'develop-conf', );
$document-name: 'document';
$document-x: 280px;
$document-y: 164px;
$document-offset-x: -280px;
$document-offset-y: -164px;
$document-width: 36px;
$document-height: 36px;
$document-total-width: 384px;
$document-total-height: 282px;
$document-image: '../images/sprite.png';
$document: (280px, 164px, -280px, -164px, 36px, 36px, 384px, 282px, '../images/sprite.png', 'document', );
$edit-name: 'edit';
$edit-x: 316px;
$edit-y: 164px;
$edit-offset-x: -316px;
$edit-offset-y: -164px;
$edit-width: 36px;
$edit-height: 36px;
$edit-total-width: 384px;
$edit-total-height: 282px;
$edit-image: '../images/sprite.png';
$edit: (316px, 164px, -316px, -164px, 36px, 36px, 384px, 282px, '../images/sprite.png', 'edit', );
$fold-name: 'fold';
$fold-x: 216px;
$fold-y: 108px;
$fold-offset-x: -216px;
$fold-offset-y: -108px;
$fold-width: 56px;
$fold-height: 56px;
$fold-total-width: 384px;
$fold-total-height: 282px;
$fold-image: '../images/sprite.png';
$fold: (216px, 108px, -216px, -108px, 56px, 56px, 384px, 282px, '../images/sprite.png', 'fold', );
$history-name: 'history';
$history-x: 52px;
$history-y: 224px;
$history-offset-x: -52px;
$history-offset-y: -224px;
$history-width: 36px;
$history-height: 36px;
$history-total-width: 384px;
$history-total-height: 282px;
$history-image: '../images/sprite.png';
$history: (52px, 224px, -52px, -224px, 36px, 36px, 384px, 282px, '../images/sprite.png', 'history', );
$info-name: 'info';
$info-x: 352px;
$info-y: 164px;
$info-offset-x: -352px;
$info-offset-y: -164px;
$info-width: 32px;
$info-height: 32px;
$info-total-width: 384px;
$info-total-height: 282px;
$info-image: '../images/sprite.png';
$info: (352px, 164px, -352px, -164px, 32px, 32px, 384px, 282px, '../images/sprite.png', 'info', );
$logo-qr-name: 'logo-qr';
$logo-qr-x: 0px;
$logo-qr-y: 60px;
$logo-qr-offset-x: 0px;
$logo-qr-offset-y: -60px;
$logo-qr-width: 104px;
$logo-qr-height: 104px;
$logo-qr-total-width: 384px;
$logo-qr-total-height: 282px;
$logo-qr-image: '../images/sprite.png';
$logo-qr: (0px, 60px, 0px, -60px, 104px, 104px, 384px, 282px, '../images/sprite.png', 'logo-qr', );
$logo-text-name: 'logo-text';
$logo-text-x: 0px;
$logo-text-y: 0px;
$logo-text-offset-x: 0px;
$logo-text-offset-y: 0px;
$logo-text-width: 384px;
$logo-text-height: 60px;
$logo-text-total-width: 384px;
$logo-text-total-height: 282px;
$logo-text-image: '../images/sprite.png';
$logo-text: (0px, 0px, 0px, 0px, 384px, 60px, 384px, 282px, '../images/sprite.png', 'logo-text', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 164px;
$logo-offset-x: 0px;
$logo-offset-y: -164px;
$logo-width: 56px;
$logo-height: 60px;
$logo-total-width: 384px;
$logo-total-height: 282px;
$logo-image: '../images/sprite.png';
$logo: (0px, 164px, 0px, -164px, 56px, 60px, 384px, 282px, '../images/sprite.png', 'logo', );
$logout-name: 'logout';
$logout-x: 272px;
$logout-y: 108px;
$logout-offset-x: -272px;
$logout-offset-y: -108px;
$logout-width: 56px;
$logout-height: 56px;
$logout-total-width: 384px;
$logout-total-height: 282px;
$logout-image: '../images/sprite.png';
$logout: (272px, 108px, -272px, -108px, 56px, 56px, 384px, 282px, '../images/sprite.png', 'logout', );
$manual-name: 'manual';
$manual-x: 88px;
$manual-y: 224px;
$manual-offset-x: -88px;
$manual-offset-y: -224px;
$manual-width: 36px;
$manual-height: 36px;
$manual-total-width: 384px;
$manual-total-height: 282px;
$manual-image: '../images/sprite.png';
$manual: (88px, 224px, -88px, -224px, 36px, 36px, 384px, 282px, '../images/sprite.png', 'manual', );
$mine-name: 'mine';
$mine-x: 328px;
$mine-y: 108px;
$mine-offset-x: -328px;
$mine-offset-y: -108px;
$mine-width: 56px;
$mine-height: 56px;
$mine-total-width: 384px;
$mine-total-height: 282px;
$mine-image: '../images/sprite.png';
$mine: (328px, 108px, -328px, -108px, 56px, 56px, 384px, 282px, '../images/sprite.png', 'mine', );
$pdf-name: 'pdf';
$pdf-x: 0px;
$pdf-y: 224px;
$pdf-offset-x: 0px;
$pdf-offset-y: -224px;
$pdf-width: 52px;
$pdf-height: 58px;
$pdf-total-width: 384px;
$pdf-total-height: 282px;
$pdf-image: '../images/sprite.png';
$pdf: (0px, 224px, 0px, -224px, 52px, 58px, 384px, 282px, '../images/sprite.png', 'pdf', );
$person-name: 'person';
$person-x: 56px;
$person-y: 164px;
$person-offset-x: -56px;
$person-offset-y: -164px;
$person-width: 56px;
$person-height: 56px;
$person-total-width: 384px;
$person-total-height: 282px;
$person-image: '../images/sprite.png';
$person: (56px, 164px, -56px, -164px, 56px, 56px, 384px, 282px, '../images/sprite.png', 'person', );
$pm-operate-name: 'pm-operate';
$pm-operate-x: 112px;
$pm-operate-y: 164px;
$pm-operate-offset-x: -112px;
$pm-operate-offset-y: -164px;
$pm-operate-width: 56px;
$pm-operate-height: 56px;
$pm-operate-total-width: 384px;
$pm-operate-total-height: 282px;
$pm-operate-image: '../images/sprite.png';
$pm-operate: (112px, 164px, -112px, -164px, 56px, 56px, 384px, 282px, '../images/sprite.png', 'pm-operate', );
$product-manager-name: 'product-manager';
$product-manager-x: 168px;
$product-manager-y: 164px;
$product-manager-offset-x: -168px;
$product-manager-offset-y: -164px;
$product-manager-width: 56px;
$product-manager-height: 56px;
$product-manager-total-width: 384px;
$product-manager-total-height: 282px;
$product-manager-image: '../images/sprite.png';
$product-manager: (168px, 164px, -168px, -164px, 56px, 56px, 384px, 282px, '../images/sprite.png', 'product-manager', );
$search-name: 'search';
$search-x: 256px;
$search-y: 60px;
$search-offset-x: -256px;
$search-offset-y: -60px;
$search-width: 40px;
$search-height: 40px;
$search-total-width: 384px;
$search-total-height: 282px;
$search-image: '../images/sprite.png';
$search: (256px, 60px, -256px, -60px, 40px, 40px, 384px, 282px, '../images/sprite.png', 'search', );
$switch-name: 'switch';
$switch-x: 156px;
$switch-y: 224px;
$switch-offset-x: -156px;
$switch-offset-y: -224px;
$switch-width: 30px;
$switch-height: 30px;
$switch-total-width: 384px;
$switch-total-height: 282px;
$switch-image: '../images/sprite.png';
$switch: (156px, 224px, -156px, -224px, 30px, 30px, 384px, 282px, '../images/sprite.png', 'switch', );
$test-flag-name: 'test-flag';
$test-flag-x: 104px;
$test-flag-y: 60px;
$test-flag-offset-x: -104px;
$test-flag-offset-y: -60px;
$test-flag-width: 104px;
$test-flag-height: 48px;
$test-flag-total-width: 384px;
$test-flag-total-height: 282px;
$test-flag-image: '../images/sprite.png';
$test-flag: (104px, 60px, -104px, -60px, 104px, 48px, 384px, 282px, '../images/sprite.png', 'test-flag', );
$unfold-name: 'unfold';
$unfold-x: 224px;
$unfold-y: 164px;
$unfold-offset-x: -224px;
$unfold-offset-y: -164px;
$unfold-width: 56px;
$unfold-height: 56px;
$unfold-total-width: 384px;
$unfold-total-height: 282px;
$unfold-image: '../images/sprite.png';
$unfold: (224px, 164px, -224px, -164px, 56px, 56px, 384px, 282px, '../images/sprite.png', 'unfold', );
$view-name: 'view';
$view-x: 296px;
$view-y: 60px;
$view-offset-x: -296px;
$view-offset-y: -60px;
$view-width: 38px;
$view-height: 38px;
$view-total-width: 384px;
$view-total-height: 282px;
$view-image: '../images/sprite.png';
$view: (296px, 60px, -296px, -60px, 38px, 38px, 384px, 282px, '../images/sprite.png', 'view', );
$warning-name: 'warning';
$warning-x: 124px;
$warning-y: 224px;
$warning-offset-x: -124px;
$warning-offset-y: -224px;
$warning-width: 32px;
$warning-height: 32px;
$warning-total-width: 384px;
$warning-total-height: 282px;
$warning-image: '../images/sprite.png';
$warning: (124px, 224px, -124px, -224px, 32px, 32px, 384px, 282px, '../images/sprite.png', 'warning', );
$spritesheet-width: 384px;
$spritesheet-height: 282px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($common, $config-program, $delete, $develop-conf, $document, $edit, $fold, $history, $info, $logo-qr, $logo-text, $logo, $logout, $manual, $mine, $pdf, $person, $pm-operate, $product-manager, $search, $switch, $test-flag, $unfold, $view, $warning, );
$spritesheet: (384px, 282px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
